@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@400;500&family=Merienda:wght@400;700&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

* {
  border: 0px solid gold;
}

/* ------ MAIN CONTENT ------ */

body {
  background-image: url('https://i.imgur.com/dLjJPB3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Open Sans', sans-serif;
  color: whitesmoke;
}

header h1 {
  text-align: center;
  font-family: 'Lemonada', cursive;
  font-size: 3em;
  margin: 0;
}

h2 {
  color: #1F3B73;
  font-weight: normal;
}

.matchdays-table {
  display: flex;
  justify-content: center;
}

table {
  text-align: center;
  text-transform: uppercase;
  width: 70%;
  height: 82vh;
  background-color: rgba(255, 255, 255, 0.5);
}

td {
  border-bottom: 1px solid #306F9E;
}

.left-column {
  width: 25%;
}

.right-column {
  width: 75%;
}

.button {
  font-family: 'Open Sans', sans-serif;
  padding: 1em;
  margin: 0.5em 1.5em;
  border-radius: 10px;
  background-color: #306F9E;
  color: whitesmoke;
  box-shadow: 1px 1px 2px whitesmoke;
}

button:hover {
  transform: scale(1.1);
  font-weight: bold;
  background-color: #1F3B73;
  transition-duration: 0.3s;
}

/* ------ MODAL ------ */

.modal {
  display: none;
  background-color: rgba(11, 21, 41, 0.7);
  backdrop-filter: blur(4px);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
}

.modal-text {
  white-space: pre-line;
  color: #1F3B73;
  font-weight: 700;
  font-size: 1.2em;
  text-align: center;
  background-color: whitesmoke;
  height: 70%;
  width: 50%;
  margin: 100px auto;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

#close-btn {
  background-color: #0b1529;
  color: whitesmoke;
  font-weight: bold;
  font-size: 1em;
  padding: 5px 10px;
  position: absolute;

}

/* ------ MEDIA QUERY ------ */

@media (max-width: 1000px) {
  header h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1em;
    font-weight: 700;
  }

  table {
    width: 80%;
  }

  .button {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .left-column {
    width: 50%;
  }

  .right-column {
    width: 50%;
  }

  .modal-text {
    font-size: 1em;
  }
}
